.barclays_payment_cardinfo{
	background: #f3f3f3 !important;
    border: #fff !important;
    padding: 1em !important;
    margin-bottom: 20px !important;
}
.barclays_payment_cardinfo .payment_methods {
    background: #f3f3f3 !important;
    border: 0px solid #eeeeee !important;
    border-radius: 2px !important;
    padding: 0em !important;
    }
 .barclays_payment_cardinfo   select {

    border: 1px solid #c7c1c6 !important;
    padding: .5em .5em !important;
    margin-bottom: .75em !important;    
    color: #666666 !important;
}
.barclays_payment_cardinfo .payment_box {
    background: #f3f3f3 !important;
    border: 1px solid #f3f3f3 !important;
    padding: 0em !important;
    }